.vs
bin
vendor/premake
vendor/astyle
scripts/__pycache__
ghpages
.vscode

**.sln
**.vcxproj
**.user
**.filters
**.aps
**.ini
**.orig
**.make
**.a

Makefile
**/Makefile


CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
Release
Debug
[*].dir
