# Diectories
.vscode
.vs
bin
vendor/premake
vendor/astyle
vendor/doxygen
vendor/VulkanSDK
Binaries/VCRuntime
build

# Files
.helpercache
**.aps
**.sln
**.vcxproj
**.user
**.filter
**.filters
**.hint
**.log
Makefile